// Colors:
$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;
$errorColor: #d32f2f;
$blackColor: #000;
$whiteColor: #FFF;
$grayColor: #D0CFCF;

$transitionSettings: 0.3s ease-in-out;
